body {
  margin: 0;
  font-family: monospace;
}

p {
  margin: 0;
}

/*DYNAMIC SIZING*/

.Box section {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Box section:nth-of-type(1) {
  background-image: url('https://unsplash.it/1024/683?image=1082');
}
.Box section:nth-of-type(2) {
  background-image: url('https://unsplash.it/1024/683?image=1071');
}
.Box section:nth-of-type(3) {
  background-image: url('https://unsplash.it/1024/683?image=1077');
}
.Box section:nth-of-type(4) {
  background-image: url('https://unsplash.it/1024/683?image=1064');
}

/*BUTTON*/

button {
  color: white;
  background-color: unset;
}

/*FLUID COLUMNS*/

* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
}

section {
  padding: 0 2em;
  margin: 0 auto;
}

nav {
  columns: 4 100px;
}

/*IMAGE*/

img {
  width: 90vw;
  height: 75vh;
  border: 2px solid tomato;
  object-fit: cover;
  object-position: 50% 50%;

}
